# SMTP Server Details
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

# SMTP Credentials
SMTP_USER=raturiincredible@gmail.com
SMTP_PASS=your_16_character_app_password_here

# Recipient
TO_EMAIL=raturiincredible@gmail.com

PORT=5000
